<a href="https://colab.research.google.com/github/tewei0328/AI/blob/master/%E5%96%AE%E5%85%836/fb_prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('TSEA_day_1223.csv',index_col,parse_dates=['date'])

In [10]:
df.head()

        date         open         high          low        close
0 2019-12-23  11969.13965  12022.23047  11960.20996  12022.23047
1 2019-12-20  12001.55957  12028.21973  11937.45020  11959.08008
2 2019-12-19  12082.98047  12111.76953  12008.16016  12018.90039
3 2019-12-18  12061.09961  12125.90039  12059.91992  12122.45020
4 2019-12-17  11939.62012  12097.00977  11939.62012  12097.00977